<%= link_to "home", "root_path" %>
<%= link_to "home", "about_path" %>


<h1> Welcome to ViewBARs app page</h1>
<p>
	This is is home of a future app we are building.
</p>
<p> 
	<%= link_to "Sign up now" , "#" %>
</p>
<div class="footer">
	<small>
		<%= link_to "Thinkspace Design 2013", "http://thinkspace-design.com"  %>
	</small>